<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.category"
            id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.sampleCommand"
            class="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Optional Menu"
               mnemonic="M"
               id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.menus.sampleMenu">
            <command
                  commandId="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.sampleCommand"
                  mnemonic="S"
                  id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.eclipse.buckminster.examples.rcp.mail.optional.bundle.toolbars.sampleCommand"
                  tooltip="Optional functionality">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
